*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    background-color: rgb(232, 245, 250);
    width: 100%;

}
.head-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(155, 183, 194);
}
.head-container .logo{
  display: flex;
}
.head-container .logo img{
 width: 4.5rem;
 border-radius: 2rem;
}
.head-container .logo h5{
    font-size: 1.5rem;
    padding: 8px;
    color: rgb(251, 253, 255);
}
.links{
    text-align: center;
    padding-top: 0.5rem;
    justify-content: center;
}
.links a{
    text-decoration: none;
    padding: 1rem;
    font-size: 1.2rem;

    color:rgb(251, 253, 255) ;
}
.links a:hover{
    color: rgb(98, 98, 146);
}

@media  screen and (max-width:650px) {

    .head-container .logo{
      display: flex;
    }
    .head-container .logo img{
     width: 5rem;
     
     border-radius: 6rem;
    }
    .head-container .logo h5{
        font-size: 1.3rem;
        padding: 12px;
        font-weight: 699;
        color: rgb(251, 253, 255);
    }
    .links{
        text-align: center;
        padding-top: 0.9rem;
       
    }
    .links a{
        text-decoration: none;
        padding: .2rem;
        font-size: 1rem;
        font-weight: 600;
    
        color:rgb(251, 253, 255) ;
    }
    .links a:hover{
        color: rgb(98, 98, 146);
    }
}